
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$main-font: "Roboto", sans-serif;
$main-color: #fff;
$title-color: rgb(179, 168, 168);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(https://images.pexels.com/photos/2166927/pexels-photo-2166927.jpeg?cs=srgb&dl=animal-aquarium-aquatic-2166927.jpg&fm=jpg)
        no-repeat center center/cover;
    font-family: Arial, Helvetica, sans-serif;
}

//  Header

.header-container {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    .logo {
        margin-right: 8%;
        margin-left: 4%;
        height: 230px;
    }

    .btns-header {
        a {
            text-decoration: none;
            font-size: 20px;
            font-family: $main-font;
            color: $title-color;
            position: relative;
            margin-right: 70px;
            padding-bottom: 5px;
            opacity: 0.7;
        }

        a:hover {
            opacity: 1;
            color: rgb(209, 35, 58);
        }
    }

    .donate-btn {
        margin-left: 17%;
        width: 200px;
        height: 50px;
        border-radius: 1.3rem;
        font-size: 15px;
        text-transform: uppercase;
        background-color: rgb(148, 36, 36);
        color: $main-color;
        font-weight: 600;
        opacity: 0.8;

        &:hover{
            opacity: 1;
        }
    }
}

.RPname {
    color: rgb(235, 47, 47);
    font-weight: 500;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5)
}

button {
    cursor: pointer;
    border: none;
}

main {
    color: $main-color;
    margin: 0 12%;
    text-transform: uppercase;
    font-family: $main-font;

    .main-text {
        h1 {
            font-size: 55px;
        }
  
        p {
            margin-top: 4%;
            font-size: 30px;
            line-height: 2.8rem;
            text-transform: none;
        }

        .main-page-trailer {
            display: flex;
            align-items: center;
            margin: 5% 0;
            a {
                transition: all 0.7s;
                opacity: 0.6;
            }

            a:hover {
                opacity: 1;
                transform: rotate(240deg);
            }

            h2 {
                font-size: 20px;
                margin-left: 2%;
            }
        }

        .play-btn {
            margin: 10% 0;
            width: 400px;
            height: 100px;
            border-radius: 3rem;
            font-size: 25px;
            text-transform: uppercase;
            background-color: rgb(187, 33, 46);
            color: $main-color;
            font-weight: 800;
        }        
    }
}

.about {
    border-top: 5px solid rgb(71, 62, 62);
    margin-top: 4%;
    padding: 10% 0;
    font-family: $main-font;

    .about-project {
        text-align: center;
        padding: 0 12%;

        .advantages {
            margin-top: 6%;
            color: $title-color;

            .advantages-title {
                display: flex;
                align-items: center;

                .adv-img {
                    margin-top: 10%;
                    margin-right: 2%;
                }

                .adv-text {
                    margin-top: 10%;
                    line-height: 2.3rem;

                    h3 {
                        text-align: left;
                        font-size: 42px;
                        color: rgb(209, 35, 58);
                    }
    
                    h4 {
                        font-size: 23px;
                        text-align: left;
                        margin-top: 1.7%;
                        color: $main-color;
                    }
                }
            }
        }

        h1 {
            color: $title-color;
            font-size: 35px;
            text-align: center;
        }

        p {
            margin-top: 10%;
            color: $main-color;
            font-size: 26px;
            line-height: 3rem;
            margin-bottom: 15%;
        }
    }
}

.news {
    margin-top: 2%;
    .news-posts {

        h1 {
            color: $title-color;
            font-size: 35px;
            text-align: center;
        }

    }
}

.galery {
    margin: 12% 0 6%;

    h1 {
        color: $title-color;
        font-size: 35px;
        text-align: center;
    }

    .galery-photos {
        text-align: center;
        margin-top: 6%;

        img {
            width: 480px;
            margin: 1%;
            transition: all 0.5s;
            border-radius: 1rem;

            &:hover {
                transform: scale(1.14);
            }
        }
    }
}

.contacts {
    padding: 4% 10%;
    font-family: $main-font;
    border-top: 5px solid rgb(71, 62, 62);

    h1 {
        color: rgb(235, 66, 66);
        font-size: 30px;
        text-transform: uppercase;
        font-family: $main-font;
    }

    .contacts-menu {
        display: flex;
        align-items: center;
    }

    h2 {
        margin-top: 5%;
        font-size: 20px;
        color: $title-color;
        margin-right: 10%;

        p {
            font-size: 23px;
            margin-top: 1%;
            color: $main-color;
            display: flex;
            justify-content: space-between;            
            padding: 3% 1%; 
        }
    }
}

.btn {
    text-decoration: none;
    border: 1px solid rgb(54, 47, 47);
    position: relative;
    overflow: hidden;
  }
  
  .btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(180, 16, 16, 0.822);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(189, 16, 68, 0.4),
      transparent
    );
    transition: all 0.6s;
  }
  
  .btn:hover:before {
    left: 100%;
  }